* {
    font-size: 17px !important;
}

input,
div {
    width: 100% !important;
}

form {
    max-width: 600px !important;
}

#edit {
    display: none;
}
.error-message{
    color: red; display: none; font-size: 10px;}